snippet detail collapsable section
        <details>
        <summary>${1:click here}</summary>
        $0
        </details>

snippet coll collapsable section
        <details>
        <summary>${1:click here}</summary>
        $0
        </details>

snippet sup footnote
        <sup>[$1](#$0)</sup>
