snippet detail collapsable section
        <details>
        <summary>${1:click here}</summary>
        $0
        </details>

snippet coll collapsable section
        <details>
        <summary>${1:click here}</summary>
        $0
        </details>

snippet sup footnote
        <sup>[$1](#$0)</sup>

snippet tab
	|  ${0:factors} |    ${1:a}     |  ${2:b} |
	| ------------- |-------------  | ------- |
	|    ${3:f1}    |    Y          | N       |
	|    ${4:f2}    |    Y          | N       |
